body {
  font-family: "Roboto", sans-serif;
  width: 100% !important;
}
.fluid {
  padding-left: 0em !important;
  padding-right: 0em !important;
}

.background {
  background-image: url(/public/images/backgroundpic.jpg);
  width: 100%;

  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-text mt-2 {
  color: whitesmoke !important;
}

.restaurant-caption h1,
h3,
h5 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;

  color: #efefef;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.restaurant-caption h3 {
  padding-top: 7rem;
}

.order-button Button {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.offer-color {
  background-color:lightgray;
}

.offer-size {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 4rem;
  gap: 30px;
}

.our-offer h3 {
  padding-top: 2rem;
  font-size: 2rem;
  color: #000;
}

.card-title {
  margin-bottom: 0px !important;
}

.small-card {
  height: 18rem;
  border: 0px !important;
}

.imgstyle {
  height: 21rem;
  object-fit: cover;
}

.team-div {
  margin-bottom: 20px;
}

.team-intro {
  padding-left: 2rem;
  padding-right: 2rem;
}

.team-header {
  font-size: 1.5rem;
}

.team-text {
  text-align: center;
  font-weight: bold;
}

.btn-xxl {
  font-size: 1rem !important;
  width:30% !important;
  height: 50px !important;
  margin-left: 35% !important;
}
