*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* p {
  color: navy !important;
} */
footer{
  margin-top: 0;
  background-color: #157347;
  padding: 10px 0;
  width: 100%;
  color: black;
}
.ff1,.ff2,.ff3{
  margin: 1px 30px;
  color: antiquewhite !important;
}
.footer-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.footer-icons{
  margin-top: 5%;
  text-align: center;
}
.iconify{
  margin: 5px 10px 10px 0;
  font-size: 20px;
  cursor: pointer;
  color: black;
}
#nav{
  background-color: #157347;
  padding-top: 5px;
  margin-bottom: 0;
  width: 100%;
}
.shlogo{
  width: 100px;
}
.nav-list1, .nav-list2{
  list-style-type: none;
  display: flex;
  /*width: 30%;*/
  color: black;
  margin: 10px 1px;
  justify-content: space-around;
}
.nav-list1 a, .nav-list2 a{
text-decoration: none;
color: #fff !important;
}
.nav-list1 a, .nav-list2 a:hover{
  color: #000;
}
.nav-list1 li, .nav-list2 li{
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 10px;
  
}
.nav-link{
  text-decoration: none;
  /* color: navy !important; */
}

.nav-list1 li:hover, .nav-list2 li:hover{
  color: black;
}
.nav-flex{
  display: flex;
  /* made it flex 100%, it looks okay now */
  width: 100%;

  justify-content: space-between;
}
@media  screen and (min-width: 850px) {
  .nav2{
    display: none;
  }
}
@media  screen and (max-width: 850px) {
  .footer-flex{
    flex-direction: column;
  }
  .ff1,.ff2,.ff3{
    margin-top: 5%;
  }
  #nav{
    display: none;
  }
  .ham{
    float: right;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 1px 10px;
    background-color: #157347;
    color: white;
  }
  .nav-list3{
    float: right;
    margin-top: 45px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    margin-left: 0;
    background-color: #157347;
    transition: 2s ease-in-out;
    z-index: 1;
  }
  .nav2{
    padding: 10px 2px ;
    color: transparent;
  }
  .nav-list3 a{
    text-decoration: none;
  }
  .nav-list3 li {
    list-style: none;
    padding: 20px 50px;
    cursor: pointer;
    
  }
  .nav-list3 li a {
    color: white;
  }
  .nav-list3 li a:hover{
    color: black;
  }
}
